* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    font-family: 'Poppins', 'Helvetica', sans-serif;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    text-align: center;
    color: white;
    min-height: 100vh;
}
a {
    cursor: pointer;
    text-decoration: none;
}
header h1 {
    font-size: 200px;
    font-weight: 700;
    z-index: 2;
}
header .header__top {
    position: absolute;
    top: 40px;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 3;
}
header .header__top .logo {
    margin-left: 40px;
}
.hamburger-input {
    display: none;
}
.hamburger {
    width: 24px;
    height: 16px;
    margin-right: 40px;
    position: relative;
    z-index: 11;
    cursor: pointer;
}
.hamburger .hamburger__row {
   position: absolute;
    top: 0;
}
.hamburger .hamburger__row:nth-child(2) {
    top: 50%;
}
.hamburger .hamburger__row:nth-child(3) {
    top: 100%;
}
.hamburger .hamburger__row {
    width: 100%;
    height: 4px;
    background-color: white;
}
.header__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header__subtitle {
    font-size: 36px;
    z-index: 2;
}
.header__btn {
    width: 190px;
    height: 64px;
    margin-top: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    border: 1px solid #ffffff;
    z-index: 2;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
.header__btn:hover {
    background-color: white;
    color: #2a2d2e;
}
.header__go-down {
    position: absolute;
    bottom: 50px;
}


@media (max-width: 1366px) {
    header {
        min-height: 100vh;
        height: initial;
    }
    header h1 {
        font-size: 100px;
    }
    .header__subtitle {
        font-size: 32px;
    }
}

@media (max-width: 768px) {
    header h1 {
        font-size: 54px;
    }
    .header__subtitle {
        font-size: 22px;
    }
}